* {
  
}

html {
  display: grid;
  place-content: center;
  background-color: #c6ffcd;
}

body {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c6ffcd;
  text-align: center;
  margin: 0 1em;
}

body > p {
  margin-top: 0;
}

.team-title > button {
  width: 20px;
  padding: 0;
  position: relative;
  bottom: 3px;
}

/* Login form page */
#login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

#login-form input {
  text-align: center;
}

/* Teams page */
.on-teams-screen {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 1em;
}

#teams-box {
  width: 100%;
  text-align: center;
}

.team-box {
  display: grid;
  grid-template: auto repeat(3, 1fr) / repeat(2, 1fr);
  text-align: center;
  height: 300px;
  border: 2px solid black;
  border-radius: 12px;
  background-color: white;
}

.blue-on-hover:hover {
  color: blue;
  border-color: blue;
}

.team-title {
  grid-column: span 2;
}

.monstie-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.monstie-box img {
  width: 40px;
}

/* Team page */
#teams-box.on-team-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.monstie-box.on-team-screen {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
}

#teams-box.on-team-screen .team-title {
  margin: 1em auto 0;
}

#teams-box.on-team-screen .team-title > h2 {
  display: inline;
  margin-left: 30px;
  margin-right: 10px;
}

/* global class to not display */
.display-none {
  display: none;
}